@model Epracownik.Controllers.Main.Status_Pracy
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        width: 1200px;
        height: 300px;
        margin: 25px;
        text-align: center;
        border-radius: 25px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

        .box:hover {
            transform: scale(1.1);
        }

    .blue {
        background-color: lightblue;
    }

    .red {
        background-color: lightcoral;
    }

    .yellow {
        background-color: lightyellow;
    }

    h2 {
        margin-top: 115px;
    }
</style>
<div class="container">

    <div class="box red" onclick="window.location.href='/main/wnioski'">
        <h2>Wnioski</h2>
    </div>
    <div class="box blue" onclick="window.location.href='/Status_Praca'">
        <h2>@Model.Status_pracy</h2>
    </div>
</div>